<footer class="main-footer">

    <div class="footer-wrapper">

        <!-- LEFT -->

        <div class="footer-brand">

            <img src="/assets/images/logo.png" alt="GOVT EXAM PREP Logo" class="footer-logo">

            <h2>GOVT EXAM PREP</h2>

            <p class="tagline">Let's Crack It</p>

            <p class="footer-description">

                Education should be free for all<br>Gain Knowledge and Give Knowledge
     
                

            </p>
            <hr class="footer-divider">

            <div class="footer-features">

                <div class="feature">

                 <i class="fa-solid fa-book-open"></i>

                 <span>Quality Content</span>

                </div>

                <div class="feature">
                    <i class="fa-solid fa-shield-halved"></i>
                    <span>Trusted by Aspirants</span>
                </div>

                <div class="feature">
                    <i class="fa-solid fa-bullseye"></i>
                    <span>Exam Focused</span>
                </div>

                <div class="feature">
                    <i class="fa-solid fa-clock"></i>
                    <span>Always Updated</span>
                </div>

            </div>

        </div>

        <!-- QUICK LINKS -->

        <div class="footer-column">

            <h3>Quick Links</h3>

            <a href="/index.html">Home</a>

            <a href="/index.html">Exams</a>
            <a href="/coming-soon/index.html">contributers wall</a>

            <a href="/pages/govt-job-alerts/index.html">Job Alerts</a>

        </div>

        <!-- RESOURCES -->

        <div class="footer-column">

            <h3>Resources</h3>

            <a href="/pages/ssc/index.html">SSC</a>

            <a href="/pages/railway/index.html">Railway</a>

            <a href="/pages/banking/index.html">Banking</a>

            <a href="/pages/states/index.html">State Exams</a>

            <a href="/pages/upsc/index.html">UPSC</a>

            <a href="/coming-soon/index.html">Blog</a>

        </div>

        <!-- COMPANY -->

        <div class="footer-column">

            <h3>Company</h3>

            <a href="/components/aboutus/index.html">About Us</a>

            <a href="/components/contact/index.html">Contact</a>

            <a href="/components/privacy-policy/index.html">Privacy Policy</a>

            <a href="/components/terms-conditions/index.html">Terms & Conditions</a>

           

        </div>

    </div>

    <div class="footer-bottom">

        <p>

            © 2026 GOVT EXAM PREP • All Rights Reserved.

        </p>

        <p>
              
            ❤️ Made with Passion for Every Serious Aspirant

        </p>
        
        <p>
              
            For the stuents ❤️ By the students 
        </p>
    </div>

</footer>