<header class="main-header">

    <a href="/index.html" class="logo">

        <img src="/assets/images/logo.png" alt="Logo">
        <div>

            <h2>GOVT EXAM PREP</h2>

          <div class="logo-tagline">

            <span></span>

            <small>Let's Crack It</small>

            <span></span>

          </div>
        </div>

    </a>

    <nav class="main-nav">

        <a href="/index.html">Home</a>

        <a href="/coming-soon/index.html">Contributer Wall</a>
        
        <a href="/pages/govt-job-alerts/index.html">Job Alerts</a>

    </nav>

</header>